@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans text-base font-light;
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
}

.logo-background {
  @apply w-5 h-16 ml-7 border-b-4 border-white;
  background-image: url('./assets/stackline-logo.svg');
  background-size: 165px 162px;
  background-position: 0px -40px;
}


.product-table-header {
  @apply border-b border-[#F6F8FA] cursor-pointer font-normal;
}

.product-table-row {
  @apply py-6 border-b border-[#F6F8FA];
}
