@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.logo-background {
  width: 20px;
  height: 67px;
  background-image: url('./assets/stackline-logo.svg');
  background-size: 165px 162px;
  background-position: 0px -39px;
  margin-left: 27px;
  border-bottom: 5px solid white;
}

